html {
    background-color: #141212;
    font-family: sans-serif;
    margin: 8px auto;
		max-width: 700px;
}

body {
    max-width: 1000px;
    color: #fffff0;
		border: 1px solid #D13854;
		padding: 1em;
		box-shadow: 5px 5px #D13854;
}

h1, h3 {
    color: #25BFFB;
}

h2{
    color: #FAF643;
}

a {
    color: #D13854;
}
a:visited {
    color: #fffff0;
}

a:hover {
    background-color: #D13854;
    color: #fffff0;
}

#statuscafe {
		border-top: 1px solid #D13854;
		border-bottom: 1px solid #D13854;
		padding: 1em 0;
		margin: 1em 0;
}

pre {
    white-space: pre-wrap;
    font-size: 14px;
    padding: 1em;
		background-color: #141212;
}
.backlinks {
    border: 1px solid #fffff0;
    padding: 8px;
}
.backlinks h2 {
    display: inline;
    font-size: 1em;
}
.backlinks p {
    display: inline;
}
dd {
		margin: 0;
}
dd + dt {
		margin-top: .5em;
}
img {
		max-width: 100%;
}